{% extends 'base/base_layout.html' %} {% load static %} {% block title %}Show
lesson{% endblock %} {% block style %}
<style>
  .btn {
    margin-right: 30px;
  }
  .capture_image {
    width: 320px;
    height: 240px;
    margin-top: 15px;
    border-radius: 5px;
  }
</style>
{% endblock style %} {% block main %}
<div class="container-fluid py-4">
    
    <div class="container-fluid py-4">
        <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                        <p class="text-sm mb-0 text-uppercase font-weight-bold">
                            Avenger FPS
                        </p>
                        <h5 class="font-weight-bolder"><span id = "fps">0</span> FPS</h5>
                        <p class="mb-0">
                            <span id="fps_change" class="text-success text-sm font-weight-bolder"
                            >+0%</span
                            >
                            since last 5 sec
                        </p>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <div
                        class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                        <i
                            class="ni ni-money-coins text-lg opacity-10"
                            aria-hidden="true"
                        ></i>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Student</p>
                      <h5 class="font-weight-bolder" id = "student">
                        0
                      </h5>
                      <p class="mb-0">
                        <span class="text-success text-sm font-weight-bolder" id = "student_change">+0%</span>
                        since last 5 sec
                      </p>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                      <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>  
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-uppercase font-weight-bold">Normal Student</p>
                      <h5 class="font-weight-bolder" id = "normal_student">
                        0
                      </h5>
                      <p class="mb-0">
                        <span class="text-danger text-sm font-weight-bolder" id="normal_student_change">-0%</span>
                        since last 5 sec
                      </p>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                      <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>  
        <div class="col-xl-3 col-sm-6">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-uppercase font-weight-bold">LESSON QUALITY</p>
                      <h5 class="font-weight-bolder" id = "quality">
                        0
                      </h5>
                      <p class="mb-0">
                        <span class="text-success text-sm font-weight-bolder" id = "quality_change">+0%</span> since last 5 sec
                      </p>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                      <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class = "col-md-5 mt-4" style = 'align-items: center;'>
            <canvas id="myPieChart"></canvas>
        </div>
        <div class="col-md-7 mt-4">
            <canvas id="analysis-chart" style="background-color: rgb(255, 255, 255); border-radius: 25px;"> </canvas>
        </div>
        <div class = "col-md-5 mt-4">
          <select class="form-select" aria-label="Default select example" id = "select-camera" >
              <option selected value="0">Select camera to preview</option>
              {% for c in camera %}
                <option value="{{c.id}}">{{c.camera_url}}</option>
              {% endfor %}
          </select>     
        </div>   
        <div class = "mt-4">
            <img id="imageElement" src="{% static 'assets/images/default-img.gif' %}" alt="" srcset="" width="640" >
        </div>
        <div class="row">
          <div class="col-md-6 mt-4">
              <canvas id="stack-chart" style="background-color: rgb(255, 255, 255); border-radius: 25px;"></canvas>
          </div>
          <div class="col-md-6 mt-4">
              <canvas id="stack-chart2" style="background-color: rgb(255, 255, 255); border-radius: 25px;"></canvas>
          </div>
      </div>
      
     
      <div class="row">
        <div class="col-md-12 mt-4">
            <canvas id="line-chart"></canvas>
        </div>
    </div>
    </div>
  </div>
 
  {% endblock main %} {% block modal %} {% endblock modal %} {% block scripts %}

  <script>
    const csrftoken = getCsrftoken("csrftoken");
    var labels = ["neutral", "happiness","surprise", "sadness","anger","disgust","fear","contempt"]
    const roomName = "{{cluster.id}}";
     
    function get_info_chart() {
      let url = `/manager/cluster/info?id=${roomName}&info=data`
      $.ajax({
        url: url,
        headers: { "X-CSRFToken": csrftoken },
        method: "GET",
        async: true,
        success: (response) => {
          console.log(response);
          data = response['data'][0];
          quantity = [];
          latest_quantity = [];
          labels.forEach((element) => {
            quantity.push(data[element]);
            latest_quantity.push(data[element]);
          });
          console.log("Giá trị của data:",quantity);         
          update_chart(labels, quantity);
          updatePieChart(latest_quantity);
          update_stack_chart(labels,quantity);
          update_stack_chart2(quantity);
          update_line_chart(quantity)

        },
        error: (err) => {
          console.log(error);
        },
      });
    }
    $(document).ready(function () {
      var existingChart = Chart.getChart("line-chart"); // Lấy biểu đồ hiện tại
      if (existingChart) {
        existingChart.destroy(); // Hủy bỏ biểu đồ hiện tại
      }
      init_bar_chart();    
      init_pie_chart();
      init_stack_chart();
      init_stack_chart2();
      init_line_chart();
     
    });
  </script>


  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'js/bar_chart_process.js' %}"></script>
  <script src="{% static 'js/control_device.js' %}"></script>
  <script src="{% static 'js/pie_chart_process.js' %}"></script>
  <script src="{% static 'js/websocket_lesson.js' %}"></script>
  <script src="{% static 'js/stacked.js' %}"></script>
  <script src="{% static 'js/stack1.js' %}"></script>
  <script src="{% static 'js/line_chart.js' %}"></script>
  {% endblock scripts %}
</div>

