{% load static %}
<div class="min-height-300 bg-primary position-absolute w-100"></div>
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
<div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="" target="_blank">
    <img src="{% static '/resources/assets_argon/img/logo-ct-dark.png' %}" class="navbar-brand-img h-100" alt="main_logo">
    <span class="ms-1 font-weight-bold">Admin Portal</span>
    </a>
</div>
<hr class="horizontal dark mt-0">
<div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main" >
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link " href="{% url 'manager:class' %}" id = 'class'>
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-credit-card text-success text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1 text-sm">Offline Classroom</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'online:class' %}" id = 'class-online'>
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-world-2 text-danger text-sm opacity-10""></i>
            </div>
            <span class="nav-link-text ms-1 text-sm">Online Classroom</span>
            </a>
        </li>
    </ul>
</div>
</aside>
