{% extends 'base/base_layout.html' %} {% load static %} {% block title %}Class
Manage{% endblock %} {% block style %}

<style>
  tr {
    text-align: center;
  }
</style>

{% endblock style %} {% block main %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
    
      <button type="button" class="btn btn-warning" style="float: right; margin-right: 4vw"
        onclick="window.location.href = `/online/class/{{id}}`;">
        Student List
      </button>
      <button type="button" class="btn btn-danger" style="float: right; margin-right: 1vw"
        onclick="window.location.href = `/online/class/home`;">
        Online Class List
      </button>
    </div>
  </div>
  <div class="container-fluid py-4">
    <div class="row">

      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Student</p>
                  <h5 class="font-weight-bolder" id="student">
                    {{num_students}}
                  </h5>
                  <p class="mb-0">
                    <span class="text-success text-sm font-weight-bolder" id="student_change">students</span>
                  </p>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                  <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-uppercase font-weight-bold">Quantity Label</p>
                  <h5 class="font-weight-bolder" id="normal_student">
                    {{ quality }}
                  </h5>
                  <p class="mb-0">
                    <span class="text-danger text-sm font-weight-bolder" id="normal_student_change">-0%</span>

                  </p>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                  <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-8 mt-4">
        <canvas id="analysis-chart"></canvas>
      </div>
      <div class="col-md-4 mt-4">
        <div class="mb-3">
          <label for="exampleSelect" class="form-label">Select an Option</label>
          <select class="form-select" id="exampleSelect" aria-label="Default select example">
            <option selected>Select an option</option>
            <option value="0">Total class</option>
            {% for student in students%}
            <option value="{{student.id}}">{{student.name}} / {{student.email}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
{% block modal %}

{% endblock modal %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/bar_chart_process.js' %}"></script>
<script>
  var labels = ["neutral", "happiness", "surprise", "sadness", "anger", "disgust", "fear", "contempt"]
  const class_id = "{{id}}"
  function get_info_chart(studentId = null) {

    let url = `/online/event/emotion?classId=${class_id}`
    if (studentId !== null) {
      url = `/online/event/emotion?classId=${class_id}&studentId=${studentId}`
    }
    $.ajax({
      url: url,
      // headers: { "X-CSRFToken": csrftoken },
      method: "GET",
      async: true,
      success: (response) => {
        let quantity = [];
        console.log(response);
        labels.forEach((element) => {
          quantity.push(response[element]);
        });
        update_chart(labels, quantity);
      },
      error: (err) => {
        console.log(error);
      },
    });
  }
  $(document).ready(function () {
    init_bar_chart();
    $('#exampleSelect').change(function () {
      var selectedValue = $(this).val();
      if (selectedValue == 0) {
        get_info_chart();
      } else {
        get_info_chart(selectedValue);
      }
    });
  });
</script>

{% endblock scripts %}