{% extends 'base/base_layout.html' %} {% load static %} {% block title %}Class
Manage{% endblock %} {% block style %}

<style>
  tr {
    text-align: center;
  }
</style>

{% endblock style %} {% block main %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-warning" style="float: right; margin-right: 4vw" data-bs-toggle="modal"
        data-bs-target="#createProjectModal">
        Create new
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table id="tbl_online_class" class="table align-items-center mb-0"
              style="max-height: 70vh; overflow-y: scroll">
              <thead>
                <tr>
                  <th class="text-secondary text-xss font-weight-bolder opacity-7">
                    Name
                  </th>
                  <th class="text-secondary text-xss font-weight-bolder opacity-7">
                    Description
                  </th>
                  <th class="text-secondary text-xss font-weight-bolder opacity-7">
                    Class key
                  </th>
                  <th class="text-center text-secondary text-xss font-weight-bolder opacity-7">
                    Start time
                  </th>
                  <th class="text-center text-secondary text-xss font-weight-bolder opacity-7">
                    End time
                  </th>
                  <th class="text-cente text-secondary text-xss font-weight-bolder opacity-7">
                    Setting
                  </th>
                  <th class="text-cente text-secondary text-xss font-weight-bolder opacity-7">
                    Monitoring
                  </th>
                  <th class="text-center text-secondary text-xss font-weight-bolder opacity-7">
                    Delete
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for cls in classes%}
                <tr id="{{cls.id}}" style="align-items-center">
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{cls.name}}</p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      {{cls.description}}
                    </p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      {{cls.class_key}}
                    </p>
                  </td>
                  <td class="align-middle text-center">
                    <p class="text-xs font-weight-bold mb-0">
                      {{cls.start_time}}
                    </p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <p class="text-xs font-weight-bold mb-0">
                      {{cls.end_time}}
                    </p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-primary" onclick="setting('{{cls.id}}')"
                      style="cursor: pointer">Setting</span>
                  </td>
                  <td class="align-middle text-center text-sm" style="cursor: pointer">
                    <span class="badge badge-sm bg-gradient-success" onclick="display('{{cls.id}}')">Display</span>
                  </td>
                  <td class="align-middle text-center text-sm" style="cursor: pointer">
                    <span class="badge badge-sm bg-gradient-danger" onclick="remove('{{cls.id}}')">Delete</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %} {% block modal %}

<div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="createProjectModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createProjectModalLabel">Create Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <input type="text" class="form-control" id="description" name="description" />
        </div>
        <div class="form-group">
          <label for="class_key">Class Key:</label>
          <input type="text" class="form-control" id="class_key" name="class_key" />
        </div>
        <div class="form-group">
          <label for="start_time">Start Time:</label>
          <input type="datetime-local" class="form-control" id="start_time" name="start_time" />
        </div>
        <div class="form-group">
          <label for="end_time">End Time:</label>
          <input type="datetime-local" class="form-control" id="end_time" name="end_time" />
        </div>
        <!-- Error alert -->
        <div id="errorAlert" class="alert alert-danger" style="display: none; color: white" role="alert">
          All fields are required.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" id="createBtn">
          Create
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="studentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="studentModalLabel">Setup Student Information</h5>
        <button type="button" class="close-student-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <form id="uploadForm">
          <div class="form-group">
            <label for="csvFile">Upload CSV file</label>
            <input type="file" class="form-control-file" id="csvFile" accept=".csv" required>
          </div>
          <div class="form-group">
            <a href="#" class="btn btn-link" id="downloadCsvLink">Download CSV Example</a>
          </div>
        </form>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-student-modal" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="createStudentButton">Create</button>
      </div>
    </div>
  </div>
</div>

{% endblock modal %} {% block scripts %}
<script>
  const csrftoken = getCsrftoken('csrftoken');
  function setting(id) {
    $("#studentModal").modal('show');
    $("#createStudentButton").attr('data-value', id);
    
  }
  function remove(id) {
    $.ajax({
      url: `/online/class/${id}`,
      type: 'DELETE',
      headers: { "X-CSRFToken": csrftoken },
      contentType: 'application/json',
      success: function (response) {
        $(`#${id}`).remove();
      },
      error: function (xhr, status, error) {
        console.error('Error:', error);
      }
    });
  }
  function display(id) {
    window.location.href = `/online/class/home/${id}`;
  }
  // Function to generate random password
  function generateRandomPassword() {
    var chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var password = '';
    for (var i = 0; i < 8; i++) {
      password += chars.charAt(Math.floor(Math.random() * chars.length));
    }
    return password;
  }
  function processData(csv) {

    let class_id = $("#createStudentButton").attr('data-value');
    class_id = parseInt(class_id);
    let rows = csv.split('\n');
    let headers = rows[0].split(',');
    if (headers.length !== 3 || headers[0] !== 'name' || headers[1] !== 'email' || headers[2] !== 'password') {
      alert('Invalid CSV format.');
      return;
    }
    let success = 0;
    let error_msg = "Error student at line: ";
    for (var i = 1; i < rows.length; i++) {
      var row = rows[i].split(',');
      if (row.length === 3 && !row.some(function (cell) { return cell.trim() === ''; })) {
        let name = row[0];
        let email = row[1];
        let password = row[2];
        $.ajax({
          url: '/online/leaner',
          type: 'POST',
          contentType: 'application/json',
          headers: { "X-CSRFToken": csrftoken },
          data: JSON.stringify({
            class_id: class_id,
            name: name,
            email: email,
            password: password
          }),
          success: function (response) {
            success = success+1;
          },
          error: function (xhr, status, error) {
            error_msg += i + ",";
          }
        });
      } else {
        alert('CSV contains empty values or invalid format.');
        return;
      }
    }
    alert('CSV file processed successfully.');
  }
  $(document).ready(function () {

    $('#createBtn').click(function () {
      var name = $("#name").val();
      var description = $("#description").val();
      var class_key = $("#class_key").val();
      var start_time = $("#start_time").val();
      var end_time = $("#end_time").val();

      // Validate the inputs
      if (!name || !description || !class_key || !start_time || !end_time) {
        $('#errorAlert').show();
        return;
      }

      // Hide the error alert if validation passes
      $('#errorAlert').hide();

      var data = {
        name: name,
        description: description,
        class_key: class_key,
        start_time: start_time,
        end_time: end_time
      };

      $.ajax({
        url: '/online/class',
        type: 'POST',
        contentType: 'application/json',
        headers: { "X-CSRFToken": csrftoken },
        data: JSON.stringify(data),
        success: function (response) {
          $('#createProjectModal').modal('hide');
          alert('Class created successfully!');
          location.reload();
        },
        error: function (xhr, status, error) {
          alert('Error creating project: ' + xhr.responseText);
        }
      });
    });
    $(".close").click(function () {
      $('#createProjectModal').modal('hide');
    })
    $(".close-student-modal").click(function () {
      $('#studentModal').modal('hide');
    });
    $('#downloadCsvLink').click(function (event) {
      event.preventDefault(); // Prevent default action of anchor tag
      // CSV content with headers
      var csvContent = "name,email,password\n";
      // Number of rows
      var numRows = 2;
      // Generate random data for each row
      for (var i = 0; i < numRows; i++) {
        var name = "User" + (i + 1);
        var email = "user" + (i + 1) + "@example.com";
        var password = generateRandomPassword();
        csvContent += name + "," + email + "," + password + "\n";
      }
      // Create Blob object
      var blob = new Blob([csvContent], { type: 'text/csv' });
      // Create temporary download link
      var link = document.createElement('a');
      link.href = window.URL.createObjectURL(blob);
      // Set file name
      link.download = 'random_data.csv';
      // Trigger click event
      link.click();
    });
    $("#createStudentButton").click(function () {
      var file = $('#csvFile')[0].files[0];
      if (file) {
        var reader = new FileReader();
        reader.onload = function (e) {
          var csv = e.target.result;
          processData(csv);
        };
        reader.readAsText(file);
      } else {
        alert('Please select a file.');
      }
    });
  });
</script>
{% endblock scripts %}