{% extends 'base/base_layout.html' %} {% load static %} {% block title %}Class
Manage{% endblock %} {% block style %}

<style>
  tr {
    text-align: center;
  }
</style>

{% endblock style %} {% block main %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-warning" style="float: right; margin-right: 4vw" data-bs-toggle="modal"
        data-bs-target="#userModal">
        Create new
      </button>
      <button type="button" class="btn btn-danger" style="float: right; margin-right: 1vw"
        onclick="window.location.href = '/online/class/home/{{id}}'">
        Class Dashboard
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table id="tbl_online_class" class="table align-items-center mb-0"
              style="max-height: 70vh; overflow-y: scroll">
              <thead>
                <tr>
                  <th class="text-secondary text-xss font-weight-bolder opacity-7">
                    ID
                  </th>
                  <th class="text-secondary text-xss font-weight-bolder opacity-7">
                    Name
                  </th>
                  <th class="text-secondary text-xss font-weight-bolder opacity-7">
                    Email
                  </th>
                  <th class="text-center text-secondary text-xss font-weight-bolder opacity-7">
                    Password
                  </th>
                  <th class="text-center text-secondary text-xss font-weight-bolder opacity-7">
                    Delete
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for cls in learners%}
                <tr id="{{cls.id}}" style="align-items-center">
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{cls.id}}</p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      {{cls.name}}
                    </p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      {{cls.email}}
                    </p>
                  </td>
                  <td class="align-middle text-center">
                    <p class="text-xs font-weight-bold mb-0">
                      {{cls.password}}
                    </p>
                  </td>
                  <td class="align-middle text-center text-sm" style="cursor: pointer">
                    <span class="badge badge-sm bg-gradient-danger" onclick="remove('{{cls.id}}')">Delete</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %} 
{% block modal %}
<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userModalLabel">Create New User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="createUserForm">
              <input type="hidden" id="class_id" name="class_id" value="">
              <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" id="name" name="name" value="Hoang Mau Trung" required>
              </div>
              <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" name="email" value="hoangmautrung@gmail2.com" required>
              </div>
              <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control" id="password" name="password" value="121001998" required>
              </div>
              <button type="submit" class="btn btn-primary">Create User</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock modal %} 
{% block scripts %}

<script>
    const csrftoken = getCsrftoken('csrftoken');
    function remove(id){
      $.ajax({
          url: `/online/leaner/${id}`,
          type: 'DELETE',
          headers: { "X-CSRFToken": csrftoken },
          contentType: 'application/json',
          success: function (response) {
            $(`#${id}`).remove();
          },
          error: function (xhr, status, error) {
            console.error('Error:', error);
          }
      });
    }
    $(document).ready(function() {

        $(".close").click(function(){
            $("#userModal").modal("hide");
        });

        // Function to get class_id from URL
        function getClassIdFromUrl() {
            const path = window.location.pathname;
            const parts = path.split('/');
            return parts[parts.length - 1]; // Assuming the class_id is the last part of the URL
        }

        // Handle form submission
        $('#createUserForm').on('submit', function(event) {
            event.preventDefault();
            
            // Validate form fields
            const classId = getClassIdFromUrl();
            const name = $('#name').val().trim();
            const email = $('#email').val().trim();
            const password = $('#password').val().trim();
            
            if (!classId || !name || !email || !password) {
                alert('All fields are required.');
                return;
            }

            const data = {
                class_id: parseInt(classId),
                name: name,
                email: email,
                password: password
            };

            $.ajax({
                url: '/online/leaner',
                type: 'POST',
                headers: { "X-CSRFToken": csrftoken },
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    alert('User created successfully!');
                    $('#userModal').modal('hide');
                    location.reload();
                },
                error: function(xhr, status, error) {
                    alert('Error: ' + error);
                }
            });
        });

    });

</script>

{% endblock scripts %}